.MainContent {

  // make it a little move obvious when button is active vs hover
  .btn-outline-primary:hover {
    background-color: #99caff;
  }
}

.fill-parent {
  border-style: solid;
  border-color: black;
  //height: 100%;
  //width: 100%;
  border-width: 2px;
}

//.tab-pane {
//  width: 100%;
//}
